[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/sensible"]
	path = bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
[submodule "bundle/vim-pollen"]
	path = bundle/vim-pollen
	url = https://github.com/otherjoel/vim-pollen.git
[submodule "bundle/onedark"]
	path = bundle/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "slimv"]
	path = slimv
	url = https://github.com/kovisoft/slimv.git
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/kovisoft/slimv.git
[submodule "bundle/goyo"]
	path = bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/limelight"]
	path = bundle/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "bundle/seoul256"]
	path = bundle/seoul256
	url = https://github.com/junegunn/seoul256.vim.git
